/* Main Nav Bar */
#main-nav .social{
    display: none;
}

#main-nav .container{
    grid-template-columns: 1fr;
    grid-gap: 1.2rem;
}

#main-nav .container ul,
#main-nav .logo{
    justify-self: center;
}

#main-nav .container ul li a{
    padding: 0.5rem;
}

/* Showcase */

/* Home - Articles */
#home-articles .articles-container{
    grid-template-columns: repeat(2 , 1fr);
}

#home-articles .articles-container .card:first-child,
#home-articles .articles-container .card:last-child{
    grid-template-columns: 1fr;
    grid-column: 1;
}

.l-heading{
    line-height: 3rem;
    font-size: 2rem;
}

@media(max-width:600px){

    #showcase .showcase-container,
    #home-articles .articles-container,
    #main-footer .footer-container{
        grid-template-columns: 1fr;
        text-align: center;
    }

    #main-footer .footer-container div:last-child{
        grid-column: 1;
    }

    #main-footer .footer-container div:nth-child(1),
    #main-footer .footer-container div:nth-child(2),
    #main-footer .footer-container div:nth-child(4){
        padding-bottom: 0.75rem;
        border-bottom: 1px dotted #555;
    }

    .page-container{
        grid-template-columns: 1fr;
        text-align: center;
    }

    #home-articles{
        padding: 1rem;
    }
    .container{
        padding:0.5rem;
    }

    .list li{
        padding-left: 3rem;
    }

    #main-footer div h2[class="links"]{
        padding-left: 0.5rem;
    }
}